
body {
    background-color: #0f0320;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopwatch {
    border: 2px solid white;
    background-color: #CDE8E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    border-radius: 40px;
    padding-bottom: 20px;
}
.display {
    font-size: 7rem;
    font-weight: bold;
    padding: 20px;
    
}
.start-btn, .stop-btn, .reset-btn {
    font-size: 2rem;
    border: none;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    
}
.start-btn {
    background-color: rgb(83, 238, 83);
}
.stop-btn {
    background-color: rgb(255, 42, 42);
}
.reset-btn {
    background-color: rgb(230, 255, 45);
}

.start-btn, .stop-btn, .reset-btn:hover {
    cursor: pointer;
}
.start-btn:hover {
    background-color: rgb(11, 184, 11);
}
.stop-btn:hover {
    background-color: rgb(205, 26, 26);
}
.reset-btn:hover {
    background-color: rgb(192, 192, 16);
}
